.catalog__wrap {
  width: 320px;
  margin: 0 auto;
}

.catalog__header {
  @include centered;

  background-color: $light-gray;
  font-family: $osb;
  font-size: 27px;
  line-height: 30px;
  height: 177px;
  margin: 0;
  margin-bottom: 30px;
}

.catalog__list {
  @include clear-list;
  @include df;
  @include aic;

  flex-direction: column;
}

.catalog__list-item {
  @include df;
  // @include aic;

  flex-direction: column;
  border: 1px solid $light-gray;
  margin-bottom: 30px;
}

.catalog-item__name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 260px;
    height: 10px;
    color: $light-gray;
    bottom: -30px;
    right: 20px;
  }
}

.catalog-item__header {
  font-family: $osb;
  padding-left: 30px;
  font-size: 17px;
  line-height: 24px;
  width: 200px;
  margin: 0;
  margin-bottom: 15px;
}

.catalog-item__desctiption {
  padding-left: 30px;
  font-size: 13px;
  line-height: 30px;
}

.catalog-item__price {
  padding-left: 30px;
  font-family: $osb;
  font-size: 15px;
  line-height: 24px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 19px;
    background-image: url("../../img/icon-cart.svg");
    opacity: 0.2;
    right: 20px;
  }
}
