.most-popular {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.most-popular__wrap {
  width: 260px;
  margin: 0 auto;
}

.most-popular__header {
  margin: 0;

  font-family: $osb;
  font-size: 25px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 8px;
}

.most-popular__mark {
  font-family: $osb;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.most-popular__description {
  color: $gray;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 30px;
}

.most-popular__table {
  width: 100%;
  color: $gray;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.product-records__row {
  height: 37px;
  border-bottom: 1px solid #ececec;
}

.product-records__header {
  padding: 0;
}

.product-records__value {
  padding: 0;
  padding-left: 30px;
  // border: 1px solid red;
}

.most-popular__price {
  color: $gray;
  font-family: $osb;
  text-align: center;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .most-popular {
    width: 668px;
  }

  .most-popular__wrap {
    width: auto;
  }

  .most-popular__wrap-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }

  .most-popular__header {
    margin: 0;
    font-size: 43px;
  }

  .most-popular__mark {
    text-align: center;
    width: 80px;
    padding-right: 28px;
  }

  .most-popular__description {
    width: 290px;
    margin: 0;
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 45px;
  }

  .most-popular__table {
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .most-popular {
    width: 1050px;
  }

  .most-popular__wrap-header {
    justify-content: flex-start;
  }

  .most-popular__mark {
    order: 1;
    padding: 0 45px;
    text-align: center;
  }

  .most-popular__header {
    order: 2;
  }

  .most-popular__description {
    padding-left: 175px;
  }

  .most-popular__table {
    margin-left: 175px;
  }
}
