.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
  position: relative;

  &::after {
    position: absolute;
    content: "";

    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    top: 50%;
  }
}

.social__list {
  @include clear-list;
  @include df;
  @include jcc;

  position: relative;
  // width: 200px;
  height: 50px;
  padding-top: 30px;
  text-align: center;
}

.social__link {
  position: absolute;
  text-decoration: none;
  color: $black;
  width: 25px;
  height: 30px;

  &--instagram {
    // background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 56px;

    svg {
      fill: #231f20;
    }

    &:hover svg,
    &:focus svg {
      fill: #46c1ae;
    }

    &:active svg {
      fill: #bde3dd;
    }
  }

  &--facebook {
    // background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 116px;

    svg {
      fill: #231f20;
    }

    &:hover svg,
    &:focus svg {
      fill: #46c1ae;
    }

    &:active svg {
      fill: #bde3dd;
    }
  }

  &--twitter {
    // background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 176px;

    svg {
      fill: #231f20;
    }

    &:hover svg,
    &:focus svg {
      fill: #46c1ae;
    }

    &:active svg {
      fill: #bde3dd;
    }
  }
}

.copyright {
  @include df;
  position: relative;
  padding-bottom: 30px;
  margin-top: 25px;
}

.copyright__text {
  font-family: $osb;
  font-size: 19px;
  padding-left: 39px;
}

.copyright__link {
  position: absolute;

  // background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
  right: 40px;
  top: -5px;

  svg {
    fill: #63d1bb;
  }

  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active svg {
    fill: #bde3dd;
  }
}

.page-footer__logo {
  display: none;

  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active svg {
    fill: #bde3dd;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    height: 143px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 668px;
    align-items: center;
    height: 100%;

    &::after {
      display: none;
    }
  }

  .copyright {
    padding: 0;
    margin-top: 0;
  }

  .page-footer__social {
    width: 160px;
  }

  .social__link--instagram {
    left: 43px;
  }

  .social__link--facebook {
    left: 103px;
  }

  .social__link--twitter {
    left: 161px;
  }

  .page-footer__logo {
    display: block;

    &:hover path,
    &:focus path {
      fill: #46c1ae;
    }

    &:active path {
      fill: #bde3dd;
    }
  }

  .copyright__text {
    padding: 0;
    padding-right: 49px;
  }

  .copyright__link {
    right: 0;
  }

  .social__list {
    padding-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
