.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.social__list {
  @include clear-list;
  @include df;
  @include jcc;

  position: relative;
  // width: 200px;
  height: 50px;
  padding-top: 40px;
  text-align: center;
}

.social__link {
  position: absolute;
  text-decoration: none;
  color: $black;
  width: 25px;
  height: 30px;

  &--instagram {
    background-image: url("../../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 61px;
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 124px;
  }

  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 176px;
  }
}

.copyright {
  @include df;
  position: relative;
  padding-bottom: 30px;
}

.copyright__text {
  font-family: $osb;
  font-size: 19px;
  padding-left: 39px;
}

.copyright__link {
  position: absolute;

  background-image: url("../../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
  right: 40px;
  top: -5px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    height: 143px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 668px;
    align-items: center;
    height: 100%;
  }

  .copyright {
    padding: 0;
  }

  .page-footer__social {
    width: 160px;
  }

  .page-footer__logo {
    display: block;
  }

  .copyright__text {
    padding: 0;
    padding-right: 49px;
  }

  .copyright__link {
    right: 0;
  }

  .social__list {
    padding-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
