.shop-goods {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -19px;
  background-size: 575px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.shop-goods__wrap {
  width: 320px;
  margin: 0 auto;
}

.shop-goods__header-wrap {
  display: flex;
  justify-content: center;
}

.shop-goods__header {
  margin: 0;
  text-align: center;
  z-index: 2;
  width: 260px;

  font-family: $osb;
  font-size: 27px;
  line-height: 30px;

  padding-top: 69px;
  padding-bottom: 121px;
}

.shop-goods__list {
  @include clear-list;
}

.shop-goods__list-item {
  position: relative;
  background-color: #63d1bb;
  height: 103px;

  @include df;
  align-items: center;

  &:hover,
  &:focus,
  &:active {
    background-color: #59d5bc;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/icon-interior.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 40px;
    height: 62px;
    opacity: 0.2;
    right: 36px;
    z-index: 1;
  }

  &--right {
    background-color: #56c3b2;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/icon-toy.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      opacity: 0.2;
      right: 27px;
      z-index: 1;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: #46c1ae;
    }
  }
}

.shop-goods__list-link {
  text-decoration: none;
  font-family: $osb;
  font-size: 19px;
  line-height: 24px;
  color: $white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 36px;
}

.shop-goods__span {
  width: 110px;
}

@media (min-width: $tablet-width) {
  .page-main {
    border-top: 1px solid #e7e7e7;
  }

  .shop-goods {
    background-color: #f9f9f9;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;
    position: relative;
    z-index: 1;
    background-size: 1150px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }

    &::after {
      position: absolute;
      content: "";

      background-image: url("../img/bg-zigzag-fill.svg");
      height: 24px;
      width: 100%;
      bottom: -10px;
    }
  }

  .shop-goods__wrap {
    width: 668px;
    height: 747px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .shop-goods__header-wrap {
    display: flex;
    justify-content: center;
    padding-top: 154px;
  }

  .shop-goods__header {
    width: 510px;
    font-size: 43px;
    line-height: 50px;
    padding-top: 0;
  }

  .shop-goods__list {
    display: flex;
  }

  .shop-goods__list-item {
    width: 50%;
    height: 120px;
  }

  .shop-goods__list-link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .shop-goods__wrap {
    width: 1050px;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 50% 0;
    // position: relative;
    // z-index: 1;
    background-size: 1150px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .shop-goods {
    margin-bottom: 130px;
  }

  .shop-goods__header {
    font-size: 53px;
    line-height: 57px;
    width: 100%;
  }
}
