.most-popular {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.most-popular__wrap {
  width: 260px;
  margin: 0 auto;
}

.most-popular__header {
  margin: 0;

  font-family: $osb;
  font-size: 25px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 4px;
}

.most-popular__mark {
  font-family: $osb;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.most-popular__description {
  color: $gray;
  font-size: 15px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 18px;
}

.most-popular__table {
  width: 100%;
  color: $gray;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.product-records__row {
  height: 40px;
  border-bottom: 1px solid #ececec;
}

.product-records__header {
  padding: 0;
}

.product-records__value {
  padding: 0;
  padding-left: 17px;
  // border: 1px solid red;
}

.most-popular__price {
  color: $gray;
  font-family: $osb;
  text-align: center;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 28px;
  font-size: 17px;
}

.most-popular__button {
  font-size: 17px;
  font-family: $osb;
  text-transform: uppercase;
  width: 260px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .most-popular {
    width: 668px;
    margin-bottom: 50px;
  }

  .most-popular__wrap {
    width: auto;
    position: relative;
  }

  .most-popular__wrap-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
  }

  .most-popular__header {
    margin: 0;
    font-size: 43px;
    z-index: 2;
  }

  .most-popular__mark {
    text-align: center;
    width: 80px;
    padding-right: 23px;
    margin-top: 4px;
    z-index: 2;
  }

  .most-popular__description {
    width: 290px;
    margin: 0;
    display: inline-block;
    margin-top: 51px;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .product-records__value {
    padding-left: 0;
  }

  .most-popular__table {
    width: 290px;
    margin-bottom: 55px;
  }

  .most-popular__price {
    width: 290px;
    font-size: 20px;
    margin-bottom: 35px;
  }

  .most-popular__button {
    width: 290px;
    height: 52px;
    box-sizing: border-box;
  }

  .most-popular__image {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 1;
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .most-popular {
    width: 1050px;
    margin-bottom: 76px;
  }

  .most-popular__wrap-header {
    justify-content: flex-start;
  }

  .most-popular__image {
    top: -60px;
  }

  .most-popular__mark {
    order: 1;
    padding: 0 45px;
    text-align: center;
  }

  .most-popular__header {
    order: 2;
    font-size: 53px;
  }

  .most-popular__description {
    padding-left: 175px;
    margin-bottom: 51px;
  }

  .most-popular__table {
    margin-left: 175px;
    margin-bottom: 108px;
  }

  .most-popular__price {
    padding-left: 175px;
  }

  .most-popular__button {
    margin-left: 175px;
  }
}
