.about {
  position: relative;
  width: 320px;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/zigzag-line-desktop.png");
    background-repeat: no-repeat;
    height: 6px;
    width: 319px;
  }
}

.about__header {
  margin: 0;
  margin-left: 30px;
  padding-top: 33px;
  font-family: $osb;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 58px;
}

.about__list {
  @include clear-list;
}

.about__list-item {
  font-family: $osb;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 85px;
  padding-left: 30px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 60px;
    height: 40px;

    top: -50px;
    left: 30px;
  }
}

.about__list-item--money::before {
  background-image: url("../../img/icon-feature-money.svg");
}

.about__list-item--likes::before {
  background-image: url("../../img/icon-feature-heart.svg");
}

.about__list-item--knitting::before {
  background-image: url("../../img/icon-feature-ball.svg");
}

.about__list-item--rocket::before {
  background-image: url("../../img/icon-feature-rocket.svg");
}

.about__list-item--gift-wrap::before {
  background-image: url("../../img/icon-feature-gift.svg");
}

@media (min-width: $tablet-width) {
  .about {
    width: 100%;

    &::before {
      width: 100%;
      background-image: url("../../img/bg-zigzag-line.svg");
      height: 23px;
      background-repeat: repeat;
    }
  }

  .about__wrap {
    width: 668px;
    margin: 0 auto;
  }

  .about__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 430px;
  }

  .about__list-item {
    width: 50%;
    // padding: 0;
  }

  .about__header {
    padding-top: 80px;
    font-size: 43px;
    margin-bottom: 120px;
  }
}

@media (min-width: $desktop-width) {
  // .about__wrap {
  //   width: 1050px;
  // }
  .about__header {
    font-size: 53px;
  }
}
