.page-header {
  width: 320px;
  margin: 0 auto;

  @include pr;
}

.page-header__logo {
  @include df;
  @include jcc;
}

.main-nav__toggle {
  border: none;
  background-image: url("../../img/icon-menu-open.svg");
  width: 20px;
  height: 14px;
  cursor: pointer;
}

.site-list {
  @include clear-list;
}

.site-list__item {
  border-bottom: 1px solid #ececec;

  @include df;
  @include jcc;

  &:first-child {
    border-top: 1px solid #ececec;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link {
  text-decoration: none;
  color: $black;
  font-family: $osb;
  line-height: 77px;
  font-size: 17px;
}
