.page-header {
  width: 320px;
  margin: 0 auto;
  position: relative;
}

.page-header__logo {
  @include df;
  @include jcc;
}

.main-nav__toggle {
  border: none;
  background-image: url("../../img/icon-menu-open.svg");
  width: 20px;
  height: 14px;
  cursor: pointer;
}

.site-list {
  @include clear-list;
}

.site-list__item {
  border-bottom: 1px solid #ececec;

  @include df;
  @include jcc;

  &:first-child {
    border-top: 1px solid #ececec;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link {
  text-decoration: none;
  color: $black;
  font-family: $osb;
  line-height: 77px;
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 668px;
    height: 88px;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    min-width: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-image: url("../../img/logo-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    cursor: pointer;
  }

  .page-header__logo-image {
    display: none;
  }

  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__link {
    line-height: 24px;
    white-space: nowrap;
  }

  .site-list__item {
    border: none;

    &:first-child {
      border: none;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    width: 1050px;
  }

  .page-header__logo {
    background-image: url("../../img/logo-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}
