@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), /* Super Modern Browsers */url("../../fonts/opensans.woff") format("woff"); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.woff2") format("woff2"), /* Super Modern Browsers */url("../../fonts/opensansbold.woff") format("woff"); /* Pretty Modern Browsers */
}
