// Шрифты
$os: "Open Sans", sans-serif;
$osb: "Open Sans Bold", sans-serif;

// Цвета
$white: #ffffff;
$black: #000000;
$gray: #444444;
$light-gray: #f1f1f1;

// Сетка
$tablet-width: 768px;
$desktop-width: 1150px;
